@import "tailwindcss";

:root {
  --bg-primary: #151f1c;
  --bg-dark: #0A0F0D;
  --foreground: #003D25;
  --color-stroke: #2A3C36;
  --color-card: #192420;
  --color-primary: #1FFFA5;
  --color-primary-light: #00E58A;
  --color-secondary: #171717;
  --text-light: #F5F5F5;
  --text-secondary-light: #B2B2B2;
  --text-dark: #002013;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 48px;
  --font-xxl: 72px;

}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans Bengali', sans-serif;
  background-color: var(--bg-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}